.heading {
  font-size: calc((26px + 2vmin));
  margin: auto;
  color: rgb(62, 37, 96);
  text-decoration: dotted underline 4px;
  grid-area: title;
}

table {
  margin: auto;
}

td:hover {
  cursor: pointer;
}

th,
td {
  /* -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;  */
  user-select: none;
  padding: 4.9vh;
  font-size: calc((10px + 2vmin));
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: black;
  color: aliceblue;
  border: 2px solid aliceblue;
}

.click {
  margin: auto;
  display: block;
}

#ch {
  transform: scale(1.2);
  width: calc(1em * 1.6);
  height: calc(1em * 1.6);
  vertical-align: baseline;
  margin: 0px;
}

.sop {
  font-size: smaller;
  font-style: italic;
}

.stuff-ans {
  padding: 5vh;
  grid-area: ans;
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: left;
  font-size: 2em;
}

.bn1 {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, 0.15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.bn1:hover {
  background-color: #1e8449;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.bn1:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.bn1:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

label {
  display: block;
  user-select: none;
}

label > input {
  width: calc(1em * 1.6);
  height: calc(1em * 1.6);
  vertical-align: baseline;
  margin: 0px;
}

.stuff {
  grid-area: stuff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-div {
  text-align: center;
  display: grid;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-columns: 50vw 50vw;
  grid-template-areas:
    "title title"
    "stuff ans"
    "sign sign";
}

footer {
  grid-area: sign;
  padding-top: 4vh;
  background-color: black;
}

.footer-element {
  height: 1vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: antiquewhite;
}

body {
  margin: 0px;
  font-family: "Courier New", Courier, monospace;
  background-color: bisque;
}

@media only screen and (max-width: 600px) {
  th,
  td {
    padding: 5vw;
  }
  .grid-div {
    grid-template-rows: 10vh 60vh 20vh 10vh;
    grid-template-areas:
      "title title"
      "stuff stuff"
      "ans ans"
      "sign sign";
  }
}
